 /* Font face */
@font-face {
    font-family: "Eudoxus";
    src: url("../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Bold.ttf");
}

@font-face {
    font-family: "Eudoxus-light";
    src: url("../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Light.ttf");


}
@font-face {
    font-family: "Eudoxus-medium";
    src: url("../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Medium.ttf")
}

@font-face {
    font-family: "Eudoxus-regular";
    src: url("../assets/fonts/Eudoxus-Sans-font/EudoxusSans-Regular.ttf")
}


 /* Decorations starts here */
 * {
    padding: 0;
    margin: 0; 
 }

 body {
    overflow-x: hidden;
 }

section.main-section {
    width: 100vw;
    height: 135vh;
    background-color: white;
    background-image: url("../assets/images/background.svg");
    background-repeat: no-repeat;
    background-position: center bottom
}

header.header {
    width: 100vw;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 1.5rem;
    border-bottom: 1px rgb(243, 243, 243, 1) solid;
   
    
}

header.header .first-category .logo {
    margin-left: 3.5rem;
}
.header .first-category a {
    text-decoration: none;
    font-family: "Eudoxus-light";
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-left: 1.55rem;
}

.header .second-category svg {
    margin-right: 1.5rem;
}

.main {
    height: 92.5vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.main .header {
    width: 724px;
height: 166px;
font-family: "Eudoxus";
font-size: 64px;
font-weight: 700;
color: black;
text-align: center;
}

.main .paragraph {
    width: 796px;
height: 96px;
    font-family: "Eudoxus-medium";
    font-size: 18px;
    font-weight: 500;
    color: rgb(175, 173, 181, 1);
    text-align: center;
    margin-top: 1.5rem;
}

.main .search-container {
    width: 810px;
height: 84px;
background-color: white;
border: none;
box-shadow: 0px 4px 80px rgba(175, 173, 181, 0.2);
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 4rem;
}

.main .search-container .first {
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
}

.main .search-container .first .placeholder {
    font-family: "Eudoxus-light";
    font-size: 18px;
    font-weight: 500;
    color: rgb(175, 173, 181, 1);
    margin-left: 3.5rem;
}

.main .search-container .search-button {
    width: 170px;
height: 54px;
background-color: rgb(81, 133, 129, 1);
border: none;
margin-right: 2.5rem;
text-align: center;
font-family: "Eudoxus-medium";
font-size: 18px;
font-weight: 700;
color: white;
}

/* Benefit section */

.benefit {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.benefit .explanation {
    margin-top: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 6.5rem;
    margin-left: 3.5rem;


}


.explanation .first .benefits {
    font-family: "Eudoxus-medium";
    font-size: 18px;
    font-weight: 700;
    color: rgb(255, 178, 63, 1);
}

.explanation .first .big-header {
    font-family: "Eudoxus-medium";
    font-size: 44px;
    font-weight: 700;
    color: black;
    text-align: left;
}

.explanation .second .paragraph {
    width: 505px;
height: 96px;
font-family: "Eudoxus-regular";
font-size: 18px;
font-weight: 500;
color: rgb(175, 173, 181, 1);
}

.benefit .row-card {
    display: flex;
    
    justify-content: space-evenly;
    position: relative;
    margin-top: 10.5rem;



}

.benefit .row-card div {
    width: 394px;
height: 285px;
border: none;
background-color: white;
box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);
display: flex;
flex-flow: column nowrap;
justify-content: flex-start;
transition: 300ms;

}

.benefit .row-card div:hover {
    height: 320px;
}

.benefit .row-card div svg {
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}

.benefit .row-card div h1 {
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    font-family: "Eudoxus";
    font-size: 24px;
    font-weight: 700;
    color: black;
}
.benefit .row-card div p{
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    font-family: "Eudoxus-regular";
    font-size: 18px;
    font-weight: 500;
    color: rgb(175, 173, 181, 1);
}

/* Our product section */


section.ourproduct {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: 595px 595px;
    grid-template-rows: 174px 245px 280px;
    grid-template-areas:
    "text statistic"
    "text first-image"
    "second-image first-image";
    grid-column-gap: 20px;
    margin-left: 6.5rem;
    
    

}


/* Text section in product section */
.ourproduct .text-section {
    grid-area: text;
    
}
.ourproduct .text-section .header1 {
    font-family: "Eudoxus-regular";
    font-size: 18px;
    font-weight: 700;
    color: rgb(255, 178, 63, 1);
}

.ourproduct .text-section .header2 {
    font-family: "Eudoxus";
    font-weight: 700;
    font-size: 44px;
    color: black;
    margin-top: 1.25rem;
}
.ourproduct .text-section .paragraph {
    margin-top: 2.5rem;
    font-family: "Eudoxus-regular";
    font-size: 18px;
    font-weight: 500;
    color: rgb(175, 173, 181, 1);
}

.ourproduct .text-section .learn-more {
    width: 170px;
height: 54px;
background-color: rgb(81, 133, 129, 1);
font-family: "Eudoxus";
font-size: 18px;
font-weight: 700;
color: white;
border: none;
margin-top: 4.5rem;
transition: 300ms;

}
.ourproduct .text-section .learn-more:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Statistic section in product section */
.ourproduct .statistic {
    grid-area: statistic;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ourproduct .statistic div h1{
    font-family: "Eudoxus";
    font-size: 44px;
    font-weight: 700;
    color: rgb(21, 20, 17, 1);

}

.ourproduct .statistic div p {
    margin-top: 0.5rem;
    font-family: "Eudoxus-regular";
    font-size: 18px;
    font-weight: 500;
    color: rgb(175, 173, 181, 1);
}


/* The first picture in the grid layout*/
.ourproduct .firstpic {
    grid-area: first-image;

}

/* The second picture in the grid layout*/

.ourproduct .secondpic {
    grid-area: second-image;
}

/* Article Section */

section.article-section {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    justify-content: space-between;
    
}

/* First column */


.article-section .column1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-left: 3.5rem;

}

.column1 .textsection .header1 {
    font-family: "Eudoxus";
    font-size: 18px;
    font-weight: 700;
    color: rgb(255, 178, 63, 1);
}
.column1 .textsection .header2 {
    font-family: "Eudoxus";
    font-size: 44px;
    font-weight: 700;
    color: black;
    width: 544px;
height: 114px;
margin-top: 0.5rem;
}

.column1 .textsection .paragraph {
    font-family: "Eudoxus-regular";
    font-size: 18px;
    font-weight: 500;
    color: rgb(175, 173, 181, 1);
    margin-top: 1.5rem;
}

.column1 .firstsection {
    margin-top: 2.5rem;
    width: 582px;
height: 565px;
    background-image: url("../assets/images/firstarticle.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.column1 .firstsection .textsection {
    margin: 2.5rem;
}

.column1 .firstsection .textsection .image-header1 {
    font-family: "Eudoxus-regular";
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.column1 .firstsection .textsection .image-header2 {
    font-family: "Eudoxus";
    font-size: 26px;
    font-weight: 700;
    color: white;
}
.column1 .firstsection .textsection .explanation {
    font-family: "Eudoxus-light";
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.article-section .column2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 30px;
}

.column2 .article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.column2 .article .text-section {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 2.5rem;

}



.article .text-section .article-type {
    font-family: "Eudoxus-regular";
    font-size: 18px;
    font-weight: 500;
    color: rgb(175, 173, 181, 1);
    margin-bottom: 2.5rem;
}

.column2 .article .text-section .article-title {
    font-family: "Eudoxus";
    font-size: 24px;
    font-weight: 700;
    color: black;
    width: 318px;
height: 62px;
}

.column2 .article .text-section .explanation {
    font-family: "Eudoxus-regular";
    font-size: 14px;
    font-weight: 500;
    color: rgb(175, 173, 181, 1);
    margin-top: 1rem;

}

.column2 .article .text-section .creator-postdate {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-family: "Eudoxus-regular";
    font-size: 16px;
    font-weight: 500;
    color: rgb(21, 20, 17, 1);
    margin-top: 2.5rem;

}

.column2 .article .text-section .creator-postdate .postdate {
    color: rgb(175, 173, 181, 1);
    margin-left: 3.5rem;
}

/* Media Query*/

@media screen and (max-width: 800px) {
    header.header .first-category {
        display: none;
    }
    header.header .second-category {
        display: none;
    }
    .main .header {
        font-size: 26px;
        font-weight: 700;
        width: 300px;
height: 68px;

    }
    .main .paragraph {
        font-size: 14px;
        font-weight: 500;
        width: 327px;
height: 125px;
    }
    .main .search-container {
        width: 397px;
height: 54px;
    }
    .main .search-container .placeholder {
        font-size: 12px;
        font-weight: 500;
       
    }
    .main .search-container .search-button {
        width: 100px;
height: 38px;
    }
    section.main-section {
        background-size: 327px 300px;
    }
    
    /* Benefit section now*/
    .benefit .explanation {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
    }
    .benefit .explanation .first .benefits {
        font-size: 14px;
        font-weight: 700;
    }
    .benefit .explanation .first .big-header {
        font-size: 34px;
        font-weight: 700;
        margin-top: 1.5rem;
    }
    .benefit .explanation .first .paragraph {
        font-size: 14px;
        font-weight: 500;
        color: rgb(175, 173, 181, 1);
        width: 157px;
height: 75px;
    }
    .benefit .explanation .second {
        margin-top: 1.5rem;
    }
    .benefit .row-card {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        row-gap: 20px;
    }
    
    /* Our product section */
    section.ourproduct {
        margin-top: 100vh;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        align-items: flex-start;
        right: 3.5rem;
        row-gap: 20px;
    }
    
    .ourproduct .text-section .header1 {
        font-size: 14px;
        font-weight: 700;
    }
    .ourproduct .text-section .header2 {
        font-size: 28px;
        font-weight: 700;
        width: 279px;
height: 62px;
    }
    .ourproduct .text-section .paragraph {
        font-size: 14px;
        font-weight: 500;
        width: 327px;
height: 75px;
margin-top: 3.5rem;
    }
    .ourproduct .text-section .learn-more {
        width: 327px;
height: 48px;
    }

    .ourproduct .statistic {
        margin-top: 3.5rem;
        width: 350px;
height: 58px;
display: flex;
flex-flow: row column;
align-items: center;

    }
    .ourproduct .statistic div {
        margin-left: 1.25rem;
    }
    .ourproduct .firstpic {
        
        width: 327px;
height: 200px;
margin-top: 2.5rem;
    }
    .ourproduct .secondpic {
        width: 327px;
height: 200px;
    }

    section.article-section {
        width: 100vw;
        height: 100vh;
        position: relative;
        left: 1.5rem;
        top: 40vh;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        
        
    }
    
    .article-section .column1 .textsection .header1 {
        font-size: 14px;
        font-weight: 700;
    }
    .article-section .column1 .textsection .header2 {
        font-size: 24px;
        font-weight: 700;
    }
    .article-section .column1 .textsection .paragraph {
        font-size: 14px;
        font-weight: 500;
        position: relative;
        bottom: 4.5rem;
    }
    .article-section .column1 .firstsection {
        width: 327px;
height: 200px;
position: relative;
align-self: flex-start;
bottom: 5rem;

    }
    .article-section .column2 {
        align-items: center;
        column-gap: 10px;
    }
    .article-section .column2 .article img {
        width: 150px;
height: 150px;
    }
    .article-section .column2 .article .text-section{
        margin-left: 1.5rem;
        
    }
    .article-section .column2 .article .article-type {
        margin-top: 2rem;
        font-size: 12px;
        font-weight: 700;
    }

    .article-section .column2 .article .article-title {
        font-size: 16px;
        font-weight: 700;
        position: relative;
        bottom: 1.5rem;
    }
    .article-section .column2 .article .explanation {
        display: none;
    }
    .article-section .column2 .article .creator-postdate {
        position: relative;
        bottom: 2.5rem;
        width: 117px;
height: 22px;
    }
    .article-section .column2 .article .creator-postdate .author {
        font-size: 12px;
        font-weight: 700;
        width: 109px;
height: 22px;
    }
    .article-section .column2 .article .creator-postdate .postdate {
        font-size: 12px;
        font-weight: 700;
        width: 109px;
height: 22px;
    }
}